.Footer {
    width: 100%;
    background-color: #232121;
    color: #ffffff;
    padding: 5px 0px;
    text-align: center;
    margin-top: 30px;
}

.FooterContent {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.FooterLinks a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.FooterLinks a:hover {
    color: #f0e68c;
}

@media (max-width: 600px) {
    .FooterContent {
        flex-direction: column;
        gap: 10px;
    }

    .FooterLinks a {
        margin: 5px;
    }
}
