  .mainDivPostJob {
      background-color: rgb(41, 40, 40);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box;
  }

  .PostJobForm {
      text-align: center;
      background-color: rgb(41, 40, 39);
      width: 100%;
      max-width: 1200px;
      padding: 20px 0px;
      border-radius: 12px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .PostJobFormLabel {
      display: block;
      font-weight: 700;
      font-size: 20px;
      margin: 1px 0 5px 0;
      color: #ffffff;
  }

  .PostJobFormInput,
  .PostJobFormTextarea {
      width: 80%;
      max-width: 600px;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      background-color: rgb(244, 244, 244);
      color: black;
      text-align: center;
      box-sizing: border-box;
  }

  .PostJobFormTextarea {
      height: 50px;
      resize: none;
  }

  .PostJobFormButton {
      width: 80%;
      max-width: 400px;
      padding: 10px 0;
      border: none;
      border-radius: 50px;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
      background-color: rgb(240, 230, 140);
      color: black;
      transition: 0.3s;
  }

  .PostJobFormButton:hover {
      background-color: rgb(255, 117, 4);
      color: white;
  }